.html, body {
    font-family: Verdana, sans;
}
.decor {
    background-color: CornflowerBlue;
}
.title {
    
}
.white{
    
}
.extra{
    
}
.code{
    font-family: monospace;
}
.section-title{
}
.singlecolumn{
}
.multicolumn{
    
}
.heading {
    border-bottom: 2px solid black;
}
.heading-text {
    color: white;
}

.section {
    border: 1px solid darkgray;
}

.bigsection{
    border: 1px solid darkgray;
}
.pkg-content-decor{
}

.pkg-index-decor{
    border: 1px solid cyan;
}
